*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    background-color:rgba(206, 221, 80, 0.44);
  

  }

#container{
    width: 400px;
    height: 400px;
    border:3px solid yellowgreen;
    display: grid;
   grid-auto-rows:1fr;
 /* grid-template-rows:  repeat(auto-fill, 1fr);*/

  }
  .grid{
    background-color: rgb(219, 211, 68);
   
    border:1px solid yellowgreen;
  }

  #timer,   input{
    width: 180px;
    height: 50px;
    background-color: transparent;
    border: 3px solid yellowgreen;
    box-shadow: 2px 2px 2px grey;
    border-radius: 10px;
     margin-right: 80px;
     padding: 10px;
  }

  button{
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 3px solid yellowgreen;
    box-shadow: 2px 2px 2px grey;
    border-radius: 50px;
     margin-right: 80px;
  }

 /* {
    border: 2px solid #b43e3e80; 
    padding: 15px;
    font-size: 16px;
    text-align: center;
}*/

h1{
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 8px 2px 3px  white;
    color:yellowgreen;
}